<h1>Welcome <%= @name %> !</h1>
<form method="POST" action="logout">
    <input type="submit" value="Logout"></input>
<form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.14.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js"></script>
<script src="./js/main.js" type="text/babel"></script>